.album-list-item {
  border: 1px solid transparent;
  cursor: pointer;
  height: 100%;
  padding: 1.25rem 0.625rem;
  position: relative;
  text-align: center;
}

.album-list-item:hover {
  background: rgba(189, 226, 255, 0.25);
  border-color: rgba(189, 226, 255, 0.75);
}

.album-list-item img {
  height: 9.375rem;
  margin-bottom: 0.3125rem;
  width: 9.375rem;
}

.album-list-item--disliked img,
.album-list-item--disliked .album-list-item__title,
.album-list-item--disliked .album-list-item__artists {
  filter: grayscale(100%) opacity(50%);
}

.album-list-item__rating {
  position: absolute;
  top: 0.5rem;
}

.album-list-item--liked .album-list-item__rating {
  left: 0.5rem;
}

.album-list-item--disliked .album-list-item__rating {
  right: 0.5rem;
}

.album-list-item__title {
  font-size: 1.4rem;
  margin-bottom: 0.3125rem;
}

.album-list-item__artists {
  font-size: 1.2rem;
  font-weight: normal;
}
