* {
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1, h2, h3 {
  margin: 0;
}

@media (min-width: 655px) {
  html {
    font-size: 16px;
  }
}
