.rating-icon-button {
  background: none;
  border: 0 none;
}

.rating-icon-button--rateable {
  cursor: pointer;
}

.rating-icon--liked.rating-icon--selected {
  color: #4189D1;
}

.rating-icon--disliked.rating-icon--selected {
  color: #cc0000;
}
